## Jupyter
# jupyterlab
notebook
# nb_conda_kernels

## Analysis
matplotlib >= 3.4.0
numpy
pandas
seaborn

## Misc
python-dotenv   # To load configuration from .env
requests        # To make web requests
openpyxl        # To read Excel files

## Less frequently used packages:

## GIS
{% if cookiecutter.example_notebooks in ["mapping", "all"] -%}
geopandas
matplotlib-scalebar
{% else -%}
# geopandas
# matplotlib-scalebar
{% endif %}

## ML, NLP, and related
# scipy
# scikit-learn
# statsmodels
# nltk
# gensim

## Data access
# UKCensusAPI
# fingertips_py
# statxplorer @ https://github.com/philipbrien/statxplorer/zipball/master
# LBLDataAccess @ git+https://github.com/lb-lewisham/LBLDataAccess.git

## Interactives
# bokeh
# folium
# plotly

## Record linkage
# splink
# vega
